:root {
    --whiteText: #f5f5f5;
    --heading: 1000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(252, 247, 252);
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--whiteText);
    background-image: linear-gradient(to right, rgb(90, 117, 250), rgb(35, 0, 99));
    height: 75px;
    margin: 5px;
    font-weight: var(--heading);
}

main {
    display: flex;
    flex-direction: row;
}

.search {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 5px;
}

h2 {
    font-weight: var(--heading);
    font-size: 20px;
    margin: 0;
}

#search-form {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 90%;
}

#searchbtn {
    margin: 5px;
    background-color: rgb(103, 173, 237);
    color: var(--whiteText);
    border: 0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px grey;
    width: 100%;
}

#searchbtn:hover {
    background-color: rgb(136, 188, 236);
    font-size: 14px;
    box-shadow: 0px 2px grey;
    transition: all .3s ease-in-out;
}

#searchbtn:active {
    font-size: 13px;
    box-shadow: 0px 0px grey;
    transition: all .1s ease-in-out;
}

.search-history {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    margin-top: 10px;
    padding-left: 0px;
}

.search-history button {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(191, 191, 191);
    font-size: 13px;
    text-align: center;
    background-color: rgb(191, 191, 191);
    box-shadow: 0px 1px grey;
}

.search-history button:hover {
    background-color: rgb(213, 210, 210);
    box-shadow: 0px 2px grey;
    transition: all .3s ease-in-out;
    font-size: 14px;
}

.search-history button:active {
    font-size: 13px;
    box-shadow: 0px 0px grey;
    transition: all .1s ease-in-out;
}

.current-weather {
    display: flex;
    flex-direction: column;
    width: 65%;
}

#city-banner {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

#city-banner p {
    font-size: 13px;
}

#weather-icon {
    display: flex;
    flex-direction: row;
}

#icon {
    display: none;
}

#current-city {
    margin: 5px;
    color: black;
    font-weight: var(--heading);
    font-size: 20px;
}


#cards-forecast {
    display: flex;
    flex-direction: column;
}

#cards-forecast h3 {
    color: black;
    margin: 5px;
    font-weight: var(--heading);
    font-size: 18px;
}

#cards-container {
    display: flex;
    flex-direction: row;
}

#card {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: var(--whiteText);
    background-color: rgb(51, 60, 104);
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

#card li {
    padding: 5px;
    font-size: 13px;
}